apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: ngx-ing
  namespace: demo-ns

spec:
  ingressClassName: nginx
  rules:
    - host: ngx.test
      http:
        paths:
          - path: /
            pathType: Exact
            backend:
              service:
                name: ngx-svc
                port:
                  number: 8081
